*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}
:root{
    /* variables de color*/
    --azul1: #345FB4;
    --azul2: #6789CA;
    --gris1: #313131;
    --gris2: #777777;
    --gris3: #A5A5A5;
    --gris4: #3A3A3A;
    --gris5: #777777;
    --gris6: #F5F6FC;
    --azul3: #6184C7;
    --azul4: #5278C1;
    

    /* variables de tamaño*/
    --h1 : 3.4rem;
    --h2 : 2.4rem;
    --h3 : 2rem;
    --parrafo : 1.5rem;
}
/*ESTRCUTURA DE LAS SECCIONES*/
section{
    max-width: 37.5rem;
    height: auto;
    margin: auto;
    padding: 5rem 3rem;

    display: flex;
    flex-direction: column;

}